<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="database" connectionString="SERVER=vserv.pl;DATABASE=db_eurotracker;uid=eurotracker;password=42hO545OXuBO1i55keg4Qefi2IbOd7;"/>
  </connectionStrings>
</configuration>